* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
}

/*NAVBAR*/

.navbar {
    height: 100%;
    width: 12%;
	margin-top: 50px;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow: hidden;
    transform: translate(-100%, 0);
    -webkit-transform: translate(-100%,0);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.navbar h2 {
    padding: 20px 0px;
    text-align: center;
    color: #B1B163;
}

nav a {
    -webkit-transition: all 0.5s; /*Chrome, Safari*/
    transition: all 0.5s; /*Firefox, IE, Opera*/
    display: block;
    color: #B1B163;
    text-align: center;
    padding: 40px 0px;
    text-decoration: none;
    /*border-bottom: 1px solid #245269;*/
    font-size: 20px;
}

nav a:hover {
    transform: scale(1.2); /*Firefox, IE*/
    -webkit-transform: scale(1.2); /*Chrome, Opera, Safari*/
    color: #245269;
}

.menu-toggle {
    margin-top: 10px;
}

.text {
    text-align: center;
}

.container {
	position: absolute;
	left: 50%;
	top: 50%;
	text-align: center;
}

.header {
	width: auto;
	height: auto;
	left: 45%;
	top: 5%;
	position: absolute;
	font-size:x-large;
	font-family:"Courier New", Courier, monospace;
	/*-webkit-transform: translate(0,-150%);
	transform: translate(0,-150%);*/
}

div.header {
	font-stretch:ultra-expanded;
	-webkit-transform: translate(0,-150%), scale(0.5);
	transform: translate(0,-150%), scale(0.5);
	opacity:0;
	animation: abc 2s ease-out forwards;
	color: #999;
}

@-webkit-keyframes abc {
	0% {
		opacity:0;
		transform:translate(0,-150%);
		-webkit-transform:translate(0,-150%);
	}
	30% {
		opacity:1;
	}
	100% {
		opacity:1;
		-webkit-transform:translate(0,0);
		transform:translate(0,0);
	}
}

@keyframes abc {
	0% {
		opacity:0;
		transform:translate(0,-100%);
		-webkit-transform:translate(0,-100%);
	}
	30% {
		opacity:1;
	}
	100% {
		opacity:1;
		-webkit-transform:translate(0,0);
		transform:translate(0,0);
	}
}
	
/*Menu*/
.tcon {
	position:relative;
	left:10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  transition: 0.3s;
  -webkit-transition:0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 40px;
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }
  .tcon > * {
    display: block; }
  .tcon:hover,
  .tcon:focus {
    outline: none; }
  .tcon::-moz-focus-inner {
    border: 0; }

.tcon-menu__lines {
  display: inline-block;
  height: 5.71429px;
  width: 40px;
  border-radius: 2.85714px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  background: black;
  position: relative; }
  .tcon-menu__lines::before,
  .tcon-menu__lines::after {
    display: inline-block;
    height: 5.71429px;
    width: 40px;
    border-radius: 2.85714px;
    transition: 0.3s;
	-webkit-transition: 0.3s;
    background: black;
    content: '';
    position: absolute;
    left: 0;
    -webkit-transform-origin: 2.85714px center;
    transform-origin: 2.85714px center;
    width: 100%; }
  .tcon-menu__lines::before {
    top: 10px; }
  .tcon-menu__lines::after {
    top: -10px; }
  .tcon-transform .tcon-menu__lines {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8); }

.tcon-menu--xcross {
  width: auto; }
  .tcon-menu--xcross.tcon-transform .tcon-menu__lines {
    background: transparent; }
    .tcon-menu--xcross.tcon-transform .tcon-menu__lines::before,
    .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      top: 0;
      width: 40px; }
    .tcon-menu--xcross.tcon-transform .tcon-menu__lines::before {
      -webkit-transform: rotate3d(0, 0, 1, 45deg);
      transform: rotate3d(0, 0, 1, 45deg); }
    .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
      -webkit-transform: rotate3d(0, 0, 1, -45deg);
      transform: rotate3d(0, 0, 1, -45deg); }

.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .tcon-visuallyhidden:active,
  .tcon-visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.menu {
	position:relative;
	left:10px;
	width: 60px;
	height:60px;
	border-radius:50%;
	border-style:solid;
	border-width:thin;
	border-color:#FFF;
	text-align:center;
}

.menu {
	transition:all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	position:absolute;
	left:50%;
	top:50%;
}

.menu:hover {
	border-style:none;
	background-color:#CCC;
	transform:scale(0.9);
}

i.material-icons {
	position:relative;
	margin-right:5px;
	top:5px;
	color:#FFF;
}

/*.fullscreen-bg {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	overflow:hidden;
	z-index:-100;
}

.fullscreen-bg__video {
	width:100%;
	height:100%;
	top:0;
	left:0;
	position:absolute;
}*/

#background {
	position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

div.header h2 {
	z-index:50;
	font-size:24px;
	font-family:Georgia, "Times New Roman", Times, serif;
}

#maps {
	min-width:100%;
	position:fixed;
	top:0;
	width:auto;
	height:50%;
	border:thin solid #999;
	/*z-index:-100; /*disables zoom in and zoom out functionality of map*/
}
#tile1 {
	position:absolute;
	width:100px;
	height:100px;
	top:30%;
	left:50%;
	border:1px solid #999;
	display:table;
	border-radius:50%;
	background-color:#F06;
	-webkit-transition:all 0.2s linear;
}

#tile1 p {
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	font-family:"Times New Roman", Times, serif;
	font-size:18px;
	font-stretch:normal;
	color:#666;
	visibility:hidden;
	-webkit-transition:all 0.2s linear;
	opacity:0;
}

#tile1:hover  p{
	visibility:visible;
	opacity:1;
	color:#F06;
}

#tile1:hover {
	background-color:transparent;
}

.footer {
	position:absolute;
	bottom:0;
	height:50%;
	min-width:100%;
	width:auto;
	background-color:#b8b892;
}

#tile2 {
	position:absolute;
	width:200px;
	height:100px;
	left:50%;
	top:30%;
	margin-left:10%;
	border:1px solid #000;
	overflow:hidden;
	background-color:#966;
	border-radius:10%;
	cursor:pointer;
}

#tile2 div {
	position:absolute;
	top:0; left:0; right:0; bottom:0;
	width:100%;
	height:100%;
	display:table;
	text-align:center;
	transition:all 0.3s ease;
}

#tile2 div p {
	vertical-align:middle;
	display:table-cell;
}

#tile2 div:nth-child(2) {
	top:100%;
}

#tile2:hover div {
	-webkit-transform:translateY(-100%);
}

a {
	text-decoration:none;
}